.fullweb {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(242, 235, 40, 1)
}

.tagline {
    height: 100%;
}

.aboutus-main {
    background-color: #F6F6F5;
}

.withus-main {
    background-color: #F2EB28;
}

.theteam-main {
    background-color: #1D1E13;
}

.ourservices-main {
    background-color: #18479E;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dxyxg3egs/image/upload/v1689439049/Adiktif/tagline_u17wtq.jpg');
    background-repeat: no-repeat;
    filter: blur(3px);
    background-size: cover;
    z-index: -1;
}